
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Medium-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Medium.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Bold-Italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Bold.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Heavy-Italic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Heavy.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Super-Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('../fonts/Druk-Wide-Super.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/TheindartUltraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/TheindartUltraLightIt.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/TheindartRegular.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
