.linesBlock {
    font-family:"Druk Wide",sans-serif;
    font-weight:400;
    color:white;
    font-size:18pt;
    line-height:calc(100vh / 8);

    &.top {

        &.inner {

        }
    }

    &.bottom {

    }

    &.left {

    }

    &.right {

    }

    &.middle {

    }
}

