@import "prereqs";
@import "fonts";
body{
  background-color:black;
}
.block{
  position:absolute;
  padding:0.25%;
  transition:all 0.3s;
  .inner{
    transition:opacity 1s 0.1s;
    border:1px solid white;
    width:100%;
    height:100%;
  }
	&.collapsed{
		z-index:-1;
	}
  &.collapsed .inner{
		transition:opacity 0.1s;
    opacity: 0;
		z-index:-1;
  }
}
.mainGrid{
	transition:opacity 1s;
	.inner{
		color:white;
		text-align:center;
		//CHANGE THIS LATER
		&.navBlock{
			line-height:calc(100vh / 4);
		}
		&.title{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			font-size:32pt;
			color:#FF2224;
			line-height:calc(100vh / 8);
		}
		&.topLink{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			color:white;
			font-size:22pt;
			line-height:calc(100vh / 8);
		}
	}
	&.fullNav{
		opacity:0;
		.block{
			z-index:-1;
		}
		transition:all 2s;
	}
}
.navGrid{
	transition:all .2s 0s;
	opacity:0;
	.block{
		padding:0px;
		&:hover{
			cursor:pointer;
		}
	}
	&.fullNav{
		.block{
			z-index:2;
		}
		.inner{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			line-height: 50vh;
			color:white;
			font-size:26pt;
			text-align:center;
			&:hover{
				text-decoration:underline;
			}
		}
		opacity:1;
		transition:opacity 2s .5s;
	}
}

.aboutImg1{
	background-image:url("../../images/About-Asset-1.png");
	background-size: cover;
}

.designers-link {
	font-family: "Druk Wide",sans-serif;
	font-weight: 400;
	color: #FF2224;
	font-size: 16pt;
	position: absolute;
	bottom: 12%;
	left: 0;
	right: 0;
	margin: auto;
}

.board-title {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-right: -100%; 
	transform: rotate(-90deg);
	font-family: "Druk Wide",sans-serif;
	font-weight: 400;
	font-size: 20pt;
	color: white;
	height: 100%;
	line-height: 100%;
}

.person-info-background{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
}

.person-info {
	color: white;
	position: absolute;
	z-index: 99999999;
	width: 470px;
	height: 460px;
	background-color: red;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.inner .eyes:hover {
	background-image: url("../../images/Humans-Asset-Eye-2.png");
}