@import "prereqs";
@import "fonts";
$color-red : #FF2224;

body{
  background-color:black;
}
.block{
  position:absolute;
  padding:0.25%;
  transition:all 0.3s;
  .inner{
    transition:opacity 1s 0.1s;
    border:1px solid white;
    width:100%;
    height:100%;
  }
	&.collapsed{
		z-index:-1;
	}
  &.collapsed .inner{
		transition:opacity 0.1s;
    opacity: 0;
		z-index:-1;
  }

  &.clicked {
  	opacity: .8;
  }
}

.dummy-block {
  position:absolute;
  padding:6px;
  transition:all 0.3s;
  .inner{
    transition:opacity 1s 0.1s;
    border:1px solid white;
    width:100%;
    height:100%;
  }
}

.mainGrid{
	transition:opacity 1s;
	.inner{
		color:white;
		text-align:center;
    margin: 0;
		.navBox{
      //change this later accordingly
      $box-size: 16px;
      margin-top:calc(calc(12.5vh - 16px) - 6px);
      .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow:row nowrap;
        div{
          width:$box-size;
          height:$box-size;
          $b : 1px solid white;
          &.active{
            background-color:$color-red;
          }
          &#navInner_00,
          &#navInner_02{
            border:$b
          }
          &#navInner_01{
            border-top:$b;
            border-bottom:$b;
          }
          &#navInner_10,
          &#navInner_12{
            border:$b;
            border-top:none;
          }
          &#navInner_11{
            border-bottom:$b;
          }
        }
      }
		}
		&.title{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			font-size:32pt;
			color:$color-red;
			line-height:calc(100vh / 8);
		}
    &.text{
      text-align:left;
      padding:7vh 4vw 7vh 4vw;
      font-family:"Theinhardt",sans-serif;
      font-weight:300;
      font-size:12pt;
      line-height:14pt;
      color:white;
    }
		&.topLink{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			color:white;
			font-size:22pt;
			line-height:calc(100vh / 8);
		}
		&.contentLink{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			color:white;
			font-size:18pt;
			line-height:calc(100vh / 8);
		}

	}
	&.fullNav{
		opacity:0;
		.block{
			z-index:-1;
		}
		transition:all 2s;
	}
}
.navGrid{
	transition:all .2s 0s;
	opacity:0;
	.block{
		padding:0px;
		&:hover{
			cursor:pointer;
		}
	}
	&.fullNav{
		.block{
			z-index:2;
		}
		.inner{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			line-height: 50vh;
			color:white;
			font-size:26pt;
			text-align:center;
      &.active{
        background-color:$color-red;
      }
			&:hover{
				text-decoration:underline;
			}
		}
		opacity:1;
		transition:opacity 2s .5s;
	}
}

.aboutImg1{
	background-image:url("../../images/About-Asset-1.png");
	background-size: cover;
}