@import "prereqs";
@import "fonts";
$color-red : #FF2224;
$mobile-size:768px;

body{
  background-color:black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navGrid{
  height: 100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;

}

#video {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:99999999;
  object-fit: fill;
  height: 100%!important;
  width: auto!important;
  margin:auto;
}
#videoAboutContainer{
  position: relative;
  height:100%;
  width:100%;
      overflow:hidden;
  #videoAbout{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    height:100%!important;
    width: auto!important;

  }
}


.router-link {
  cursor: pointer;
}
.block{
  position:absolute;
  padding:0.25%;
  transition:all 0.3s;
  .inner{
    transition:opacity 1s 0.1s;

    width:100%;
    height:100%;
    position:relative;
    z-index:100;
  }

	&.collapsed:not(.filler-block){
		z-index:-999999999999999999;
  }
	&.collapsed{
		z-index:-1;
    .borders{
      opacity:0;
    }
	}
  &.collapsed .inner{
		transition:opacity 0.1s;
    opacity: 0;
	}

  &.muted {
    opacity: 0.2;
    transition: opacity .5s .1s;
  }

  &.muted, &.collapsed.filler-block .inner {
    opacity: 0.2;
  }

  &.highlighted {
    opacity: 1;
    border: none;
    z-index: 9999;
  }
  .borders{
    position:relative;
    top:-100%;
    width:100%;
    height:100%;
    .borders-inner{
      width:100%;
      height:100%;
      overflow: hidden;
      position: relative;
      span{
        z-index:1000000000;
        position:absolute;
        display:inline-block;
        background-color:white;
        transition:transform ease-in;
        &.border-top.left-out,
        &.border-bottom.left-out{
          transform:translateX(-101%);
        }
        &.border-top.right-out,
        &.border-bottom.right-out{
          transform:translateX(101%);
        }
        &.border-right.down-out,
        &.border-left.down-out{
          transform:translateY(101%);
        }
        &.border-right.up-out,
        &.border-left.up-out{
          transform:translateY(-101%);
        }
        &.border-top, &.border-bottom{
          left:0;
          width:100%;
          height:1px;
          transform:translateX(0);
        }
        &.border-left, &.border-right{
          top:0;
          width:1px;
          height:100%;
          transform:translateY(0);
        }
        &.border-top{
          top:0;
        }
        &.border-right{
          right:0;
        }
        &.border-bottom{
          bottom:0;
        }
        &.border-left{
          left:0;
        }
      }
    }
  }
}

.animated-filler-block {
  .highlighted & {
    z-index: -999999999;
  }

  position: absolute;
  .filler-inner {
    border: 1px solid white;
    width: 100%;
    height: 100%;
  }
}

.mainGrid, .titleGrid{
	transition:opacity 1s,transform 1s ease-in-out;
  transition-delay:0s;

	.inner{
		color:white;
		text-align:center;
    margin: 0;
		.navBox{
      //change this later accordingly
      &:hover {
        cursor:pointer;
      }
      $box-size: 16px;
      padding-top:calc(calc(12.5vh - 16px) - 6px);
      padding-bottom:calc(calc(12.5vh - 16px) - 6px);
      .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow:row nowrap;
        div{
          width:$box-size;
          height:$box-size;
          $b : 1px solid white;
          &.active{
            background-color:$color-red;
          }
          &#navInner_00,
          &#navInner_02{
            border:$b
          }
          &#navInner_01{
            border-top:$b;
            border-bottom:$b;
          }
          &#navInner_10,
          &#navInner_12{
            border:$b;
            border-top:none;
          }
          &#navInner_11{
            border-bottom:$b;
          }
        }
      }
		}
		&.title{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			font-size: 3vw;
			color:$color-red;
			line-height:calc(100vh / 8);
		}
    &.text{
      text-align:left;
      padding:5vh 4vw;
      font-family:"Theinhardt",sans-serif;
      font-weight:300;
      font-size:10pt;
      line-height:1.5;
      color:white;
    }
		&.topLink{
			font-family:"Druk Wide",sans-serif;
			font-weight:400;
			color:white;
			font-size:22pt;
			line-height:calc(100vh / 8);
		}
	}
	&.fullNav{
		opacity:0!important;
		.block{
			z-index:-1;
		}
    transition-delay:0s;
		transition:all 1s;
	}
}

.navGrid{
  z-index: 0;
	.block{
		padding:0px;
    .inner{
      opacity:0;
      transition:opacity 0.5s ease-in-out;
      transition-delay:.3s;
    }
    .inner,
    .inner a{
      font-family:"Druk Wide",sans-serif;
			font-weight:400;
			line-height: 50vh;
			color:white;
			font-size:26pt;
			text-align:center;
      text-decoration:none;
      &.active{
        background-color:$color-red;
      }
			&:hover{
				text-decoration:underline;
			}
    }
		&:hover{
			cursor:pointer;
		}
	}
	&.fullNav{
    z-index:100000000;
		.block{
			z-index:2;
		}
		.inner{
      opacity:1;
      transition:opacity 0.5s ease-in-out;
      transition-delay:.3s;
		}
	}
}
.aboutImg1 {
  background-image: url("../../images/About-Asset-1.png");
  background-size: cover;
}

.arrow {
  position: absolute;
  height: 12.5vh;
  top: 0;
  bottom: 0vh;
  left: 0;
  right: 0;
  margin: auto;
}

.arrow-down {
  height: 12.5vh;
  bottom: 5vh;
}

.arrow-up {
  height: 12.5vh;
  top: 5vh;
}

.arrow-left {
  position: absolute;
  width: 5vw;
  top: 0;
  bottom: 0vh;
  left: 2vw;
  margin: auto;
}

.arrow-right {
  position: absolute;
  width: 5vw;
  top: 0;
  bottom: 0vh;
  right: 2vw;
  margin: auto;
}

@import "lines";
