.linesBlock {
    font-family:"Druk Wide",sans-serif;
    font-weight:400;
    font-size:18pt;


    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;

    p {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.25s linear;
    }

    .content {
        position: absolute;
    }

    &.top {
        border: none;
        .content {      

            margin-top: 5%;
            margin-left: 50%;
        }
        
        .highlighted & {

        }
    }

    &.bottom {
        border: none;
        .content {

            margin-left: 85%;
            margin-top: 5%;
        }
        .highlighted & {

        }
    }

    &.left {

        border: none;

        .content {

            width: 400px;
            margin-top: 80%;
            margin-left: 66%;
        }

        h1 {
            text-align:left;
            line-height: 1.5;
        }

        p {
            &.designers {
                text-align: left;
                font-family: sans-serif;
                font-size: 12pt;
                line-height: 1.5;
            }

            &.description {
                font-size: 9pt;
                font-family: sans-serif;
                text-align:left;
                line-height: 1.5;
            }
        }

        .highlighted & {

        }
    }

    &.right {

        border: none;
        .content {

            margin-top: 80%;
            margin-left: 60%;
        }
    }

    &.middle {
        border: none;
        .content {
            margin-left: -23%;
            margin-top: 5%;
        }
    }

    

    .highlighted & {
        

        p {
            visibility: visible;
            opacity: 1;
        }
    }
}

