.linesBlock {
    font-family:"Druk Wide",sans-serif;
    font-weight:400;
    font-size:18pt;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;

    p {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.25s linear;
    }

    .content {
        overflow: hidden;
        position: absolute;
        white-space: nowrap; // TODO: MIGHT NEED TO CHANGE THIS
    }

    &.top {
        border: none;
        position:relative;
        .content {      

            left: 100%;
            top: 35%;
            margin-left: -25px; // TODO: CENTER ALIGN THE TEXT
        }
    }

    &.bottom {
        border: none;
        .content {

            left: 100%;
            top: 35%;
            margin-left: -25px; // TODO: CENTER ALIGN TEXT BASED ON TEXT WIDTH
        }
        .highlighted & {

        }
    }

    &.left {
        border: none;

        .content {
            width: 400px;
            margin-top: 80%;
            margin-left: 66%;
        }

        h1 {
            text-align:left;
            line-height: 1.5;
        }

        p {
            &.designers {
                text-align: left;
                font-family: Theinard Regular;
                font-size: 12pt;
                line-height: 1.5;
            }

            &.description {
                font-size: 10pt;
                font-family: Theinard Regular;
                text-align:left;
                line-height: 1.5;
            }
        }
    }

    &.right {

        border: none;
        .content {
            left: 100%;
            top: 45%;
            margin-left: -25px; // TODO: CENTER ALIGN TEXT
        }
    }

    &.middle {
        border: none;
        .content {
            left: 0%;
            top: 36%;
            margin-left: -25px; // TODO: CENTER ALIGN THE TEXT
        }
    }

    .highlighted & {
        p {
            visibility: visible;
            opacity: 1;
        }
    }
}

.block {
    .filler-filler-block {
        opacity: 0.2;
    }
    .top + .filler-filler-block {
        padding: 0.5%;
    }

    .middle + .filler-filler-block, .bottom + .filler-filler-block {
        padding: 0.75%;
    }

    .left + .filler-filler-block, .right + .filler-filler-block {
        padding: 2.25%;
    }
}

